# .gitignore for LaTeX projects

# Temporary files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1

# Output files
*.pdf
*.ps

# Other common temporary files
*~
*.bak
*.swp
*.backup
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)

# Directories commonly used for output
_output
_build
build
out
output
.texpadtmp

# macOS directory metadata
.DS_Store


# VSCode
.vscode
.history
